body {
    background-color: rgb(56, 56, 73);
}

.welcome {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
}

.jumbotron {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(56, 56, 73);
    margin-bottom: 0px;
    border-radius: 0em;
}

.main-pic {
    height: 100%;
    width: 100%;
}

.planet-picture {
    height: 400px;
    width: 640px;
}

* {
    margin: 0;
    padding: 0;
}

.accordian {
    width: 960px;
    height: 400px;
    overflow: hidden;
    margin: 170px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*prevents flickering on some browsers*/
.accordian ul {
    width: 2000px;
}

.accordian li {
    position: relative;
    display: block;
    width: 107px;
    float: left;
    border-left: 1px solid #888;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 1.05s; /*Transitions to give animation effect*/
    -webkit-transition: all 1.05s;
    -moz-transition: all 1.05s;
}

/*Reduce width of un-hovered elements*/
.accordian ul:hover li {
    width: 40px;
}

/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
    width: 640px;
}

.accordian li img {
    display: block;
}

/*Image title styles*/
.image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
}

.image_title a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Planet/Moon Box */
.wrapper {
    margin: 0 auto 100px auto;
    max-width: 960px;
}

.stage {
    list-style: none;
    padding: 0;
}

.screen {
    width: 640px;
    height: 400px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    perspective: 2200px;
}

.movie {
    width: 640px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(-130px);
    transition: transform 1000ms;
}

.movie:hover {
    transform: rotateY(-78deg) translateZ(20px);
    /*-90 is straight ahead and loses 3d look*/
}

.movie .planet-animation,
.movie .info {
    position: absolute;
    object-fit: cover; /*crops image instead of squishing or stretching */
    width: 640px;
    height: 400px;
    background-color: #fff;
    backface-visibility: hidden;
}

.movie .planet-animation {
    transform: translateZ(320px);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 8px 6px -6px black;
}

.movie .info {
    transform: rotateY(90deg) translateZ(320px);
    font-size: 1.00em;
    background-image: url("images/Moonlight-Background2.jpg");
    background-size: 640px 400px;
}

.movie::after {
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    transform-origin: 100% 100%;
    transform: rotateX(90deg) translateY(130px);
    transition: box-shadow 1000ms;
}

.info header {
    color: rgb(252, 246, 246);
    padding: 7px 10px;
    font-weight: bold;
    height: 195px;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.info header h1 {
    margin: 0 0 2px;
    font-size: 1.4em;
}

.info header .rating {
    border: 1px solid #FFF;
    padding: 0px 3px;
}

.info p {
    margin: 2px 0 0;
    font-weight: 700;
    color: #666;
    line-height: 1.4em;
    border-top: 10px solid #555;
}

.movie .planet-animation,
.movie .info,
.movie .info header {
    transition: box-shadow 1000ms;
}

.movie .planet-animation {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.movie:hover .planet-animation {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.movie .info,
.movie .info header {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.movie:hover .info,
.movie:hover .info header {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

/* Rendering Planet-Moons */
#moon-instructions {
    color: white;
    background-color: rgb(56, 56, 73);
}

#moon-pics {
    background-color: black;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 0 4px;
    width: 100%;
}

.moon-pics::after {
    content: "";
    flex: auto;
}

.moon-row {
    flex: 33%;
    max-width: 100%;
    padding: 0 4px;
    /* flex-flow: row wrap; */
}

.super-moon {
    margin-top: 8px;
    vertical-align: middle;
    width: 33%;
}

#back-button {
    margin-right: .50em;
    float: left;
}

.navbar {
    font-family: 'Titillium Web', sans-serif;
    height: 2em;
    background-color: white;
}

h2, h3, h4{
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

#map {
    margin-top: 5em;
    width: 100%;
    height: 400px;
    background-color: grey;
}